nav ul li:nth-child(4) {
    background-color: var(--color-nav_current);
    cursor: default;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 2em);
    width: fit-content;
    margin: 4em auto;
    border: 3px solid #fff;
}

#board div {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    font-size: 1em;
    cursor: crosshair;
    transition: background-color 300ms ease;
}

#board div.revealed {
    background-color: rgba(255, 255, 255, 0.26);
    cursor: default;
}

#board div:hover {
    background-color: var(--color-nav_hover);
}

#explain {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #fff;
}

#controls {
    text-align: center;
    margin-bottom: 2em;
}

#controls button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 300ms ease;
}

#controls button:hover {
    background-color: var(--color-nav_hover);
}
