nav ul li:nth-child(3) {
    background-color: var(--color-nav_current);
    cursor: default;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    font-size: 4em;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

#status, #winner {
    margin-top: 20px;
    font-size: 2em;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 2em;
    border: 3px solid #fff;
    cursor: pointer;
    transition: background-color 300ms ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.26);
}