main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}

#wrap_tic-tac-toe, #wrap_minesweeper, #wrap_battleships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

#tic-tac-toe, #minesweeper, #battleships {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 600ms ease;
    cursor: pointer;
    border: 2px solid white;
}

#tic-tac-toe:hover, #minesweeper:hover, #battleships:hover {
    transform: scale(1.1);
}