.container {
    max-width: 600px;
    margin: auto;
    background: var(--color-nav);
    padding: 20px;
    border-radius: 1.2em;
    border: 0.2em solid rgb(40, 40, 40);
    box-shadow: 0 0 1em #000;
}

h1 {
    text-align: center;
    color: var(--color-text);
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.2em solid rgb(40, 40, 40);
    border-radius: 1em;
    background-color: var(--color-content);
    color: var(--color-text);
}

main div ul {
    list-style-type: none;
    padding: 0;
}

main div ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 500ms ease;
    border: 0.2em solid rgb(40, 40, 40);
    border-radius: 1em;
    margin: 0.6em;
    text-align: center;
}

main div ul li:hover {
    background-color: var(--color-nav_hover);
}