/* 
!! Niet dit bestand aanpassen, dit is een belangrijk bestand voor de opmaak van de pagina's.
!! Als je deze aanpast, kan het zijn dat de opmaak van de pagina's niet meer goed werkt.
!! Want alle pagina's gebruiken dit bestand voor de opmaak.
*/

@font-face {
    font-family: 'Azeret Mono';
    src: url('../font/Azeret-Mono.ttf') format('truetype');
}

:root {
    --color-primary: #4e76c1;
    --color-secondary: #459e4c;
    --color-tertiary: #8f4ea2;

    --color-nav: #d36d2a;
    --color-nav_current: #c55728;
    --color-nav_hover: #e54529;

    --color-main: #c9450d;
    --color-content: rgba(45, 45, 45, 0.8);

    --color-table_odd: rgb(24, 211, 0);

    --color-text: #f4f4f4;
    --color-text-dark: #f8f9fa;

    --color-strong: #ff9216;
    --color-success: #28a745;
    --color-error: #dc3545;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Azeret Mono', monospace;
    font-weight: 500;
    color: #f4f4f4;
    background-color: #ffffff;
}

body {
    display: flex;
    gap: 1.8em;
    font-size: 1rem;
}

nav {
    border-top: 0.2em solid rgb(40, 40, 40);
    border-right: 0.2em solid rgb(40, 40, 40);
    border-bottom: 0.2em solid rgb(40, 40, 40);
    background-color: var(--color-nav);
    display: block;
    width: max(calc(300px + 2em), 30%);
    margin-top: 1em;
    border-top-right-radius: 2em;
    margin-bottom: 1em;
    border-bottom-right-radius: 2em;
    box-shadow: #000 0 0 1em;
}

main {
    border-top: 0.2em solid rgb(40, 40, 40);
    border-left: 0.2em solid rgb(40, 40, 40);
    border-bottom: 0.2em solid rgb(40, 40, 40);
    background-color: var(--color-main);
    width: 100%;
    margin-top: 1em;
    border-top-left-radius: 2em;
    margin-bottom: 1em;
    border-bottom-left-radius: 2em;
    box-shadow: #000 0 0 1em;
    background: url(../images/space.gif) repeat center center fixed;
    background-size: 384px 384px;
    padding: 1em;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav ul li {
    margin: 0.6em;
    border-radius: 1em;
    padding: 0.6em;
    border: 0.2em solid rgb(40, 40, 40);
    text-align: center;
    transition: background-color 500ms ease;
}

nav ul li:hover {
    background-color: var(--color-nav_hover);
    cursor: pointer;
}
