main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}

#ochtend_wrap, #middag_wrap, #avond_wrap, #drinken_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

#ochtend, #middag, #avond, #drinken {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 600ms ease;
    cursor: pointer;
    border: 2px solid white;
}

#ochtend:hover, #middag:hover, #avond:hover, #drinken:hover {
    transform: scale(1.1);
}