main {
    display: flex;
    gap: 2em;
    font-size: 1.2rem;
}

table {
    border-collapse: separate;
    width: 100%;
}

table tr td:nth-child(odd) {
    color: var(--color-strong);
    font-weight: 700;
}

td {
    padding: 0.3em;
}

.ship-info {
    padding: 0.6em;
    border: 0.2em solid rgb(40, 40, 40);
    background-color: var(--color-content);
    border-radius: 1.2em;
    width: 60%;
    height: fit-content;
}

.ship-functions {
    padding: 0.6em;
    border: 0.2em solid rgb(40, 40, 40);
    background-color: var(--color-content);
    border-radius: 1.2em;
    width: 40%;
    height: fit-content;
}