main {
    font-size: 1.2rem;
}

.fitness-info {
    color: #fff;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 0.6em;
    border: 0.2em solid rgb(40, 40, 40);
    background-color: var(--color-content);
    border-radius: 1.2em;
}

.fitness-info h1 {
    font-size: 1.9em;
}

.fitness-info h2 {
    font-size: 1.4em;
}

.fitness-info ul {
    list-style-type: disc;
    padding: 0.2em 1.5em;
}

.fitness-info ul li {
    margin-bottom: 0.5em;
}

strong {
    color: var(--color-strong);
}