body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.food-menu, .drink-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 45%;
    height: 300px; /* Vaste hoogte voor scrollen */
    overflow-y: auto; /* Scrollen mogelijk maken */
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}